html {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --main-color: black;
  --highlight-color: gray;
  --background-color: white;
  --header-background: var(--background-color);
  --header-highlight: var(--highlight-color);
  --main-text-color: black;
  --link-text-color: lightblue;
  --background-image: url("./assets/CoolTrain.jpeg");

  --background-gradient-dark: rgb(235, 235, 235);
  --background-gradient-light: rgb(253, 253, 253);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  justify-content: center;
}

a {
  text-decoration: none;
  color: var(--link-text-color);
}

a:hover {
  text-decoration-line: underline;
}

p {
  color: var(--main-text-color);
}

h1, h2, h3, h4 {
  color: var(--main-text-color);
}

.App {
  height: 250vh;
}

.BackgroundGradient {
  top: 0;
  left: 50%;

  width: 60%;
  min-height: 250vh;
  height: 100%;

  transform: translateX(-50%);
  position: absolute;
  background-image: linear-gradient(0, var(--background-gradient-dark), var(--background-gradient-light)); 
  z-index: -2;

  transition: all 0.5s ease-out;
}

.header {
  position: fixed;
  border: 1px solid #f1f1f1;
  min-height: 50px;
  max-height: fit-content;
  width: 100%;
  z-index: 4;
  top: 0;
  left: 0;
  overflow-x: auto;
  font-weight: bold;
  display: grid;
  grid-auto-flow: column;
  gap: 4px;
  justify-content: center;
  background-color: var(--header-background);

  box-shadow: 1px 1px 5px 5px rgba(177, 174, 174, 0.15);

  transition: all 0.5s ease-out;
}

.header a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: grid;
  grid-auto-flow: column;
  gap: 4px;
  justify-content: center;
}

.header a:hover {
  text-decoration-line: underline;
}

* {
  box-sizing: border-box;
}

.bg-image {
  position: absolute;

  max-width: 50%;
  max-height: auto;

  background-color: var(--background-color);

  z-index: -1;

  /* transform: scale(80%);
  transform: translate(0, -100%); */

  animation-name: unBlurImage;
  animation-duration: 2s;
}

@keyframes unBlurImage {
  from {background-image: var(--background-image);
      filter: blur(8px);}
  to {background-image: var(--background-image);
  }
}

/* .bg-image:hover {
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: 2;
  animation-direction: alternate;
} */

.left {
  float: left;
  margin-left: 5%;
}

.right {
  float: right;
  margin-right: 5%;
}

.bg-text {
  position: relative;
  
  width: 30%;
  height: fit-content;
  margin-top: 20px;
  padding: 20px;
  
  color: var(--main-text-color);
  text-align: left;
  font-weight: bold;
  
  border: 3px solid var(--highlight-color);
  background: var(--background-color);
  
  z-index: inherit;
  transition: all 0.5s ease-out;
}

.bg-text > * {
  color: var(--main-text-color)
}

/*     top: 50%;
  left: 20%;
  transform: translate(150%, -75%); */

.CitySearchContainer {
  max-width: 250px;
  position: "relative";
  overflow-x: "hidden";

}

.CityDataContainer {
  min-width: 250px;
  max-width: 250px;
  overflow-wrap: normal;
}

.InfoContainer {
  position: relative;
  text-align: center;
  margin: 20px;
}

.btn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: none;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.headerButton {
  background-color: var(--background-color);
  color: var(--main-text-color);
  padding: 6px;
  text-decoration: none;
  font-size: 25px;
  gap: 4px;
  cursor: pointer;
  border: none;

  transition: all 0.5s ease-out;
}

.headerButton:hover {
  text-decoration: underline;
}

.btn:hover {
  background-color: lightblue;
}

#ToggleThemeButton {
  background-color: var(--highlight-color);
  color: var(--background-color);
  padding: 6px;
  text-decoration: none;
  font-size: 12px;
  gap: 4px;
  cursor: pointer;
  border: none;

  /* transition: all 0.1s ease-out; */
}

.bg-text:hover, .bg-text-left:hover {
  /* background: var(--highlight-color); */
  box-shadow: 1px 1px 5px 5px rgba(177, 174, 174, 0.118);
}

.header:hover {
  background-color: var(--header-highlight);
  box-shadow: 1px 1px 5px 5px rgba(177, 174, 174, 0.33);
}
